* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
  background-color: #0f172a;
  color: #e5e7eb;
  line-height: 1.6;
}

/* HEADER */
header {
  text-align: center;
  padding: 40px 20px;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

header p {
  font-size: 0.95rem;
  color: #cbd5f5;
}

header a {
  color: #60a5fa;
  text-decoration: none;
}

nav {
  margin-top: 15px;
}

nav a {
  margin: 0 15px;
  color: #93c5fd;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  color: #ffffff;
}

/* SECTIONS */
section {
  padding: 60px 8%;
}

h2 {
  font-size: 2rem;
  margin-bottom: 25px;
  text-align: center;
}

/* ABOUT */
.about-section p {
  max-width: 900px;
  margin: 0 auto 15px auto;
  text-align: center;
  color: #d1d5db;
}

/* SKILLS */
.skills-section {
  background-color: #020617;
  text-align: center;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  margin-top: 40px;
}

.skill-card {
  background: #020617;
  border: 1px solid #1e293b;
  padding: 30px 22px;
  border-radius: 14px;
  transition: all 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(56, 189, 248, 0.25);
}

.skill-icon {
  font-size: 52px;   /* SAME visual weight as Kajay */
  margin-bottom: 15px;
}

.skill-card h3 {
  color: #93c5fd;
  margin-bottom: 10px;
}

.skill-card p {
  font-size: 0.95rem;
  color: #cbd5f5;
  line-height: 1.4;
}
.projects-section {
  padding: 60px 0;
}

.project-card {
  background: #020617;
  border: 1px solid #1e293b;
  border-radius: 14px;
  padding: 30px;
  margin-bottom: 35px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(56, 189, 248, 0.25);
}

.project-card h2 {
  color: #93c5fd;
  margin-bottom: 6px;
}

.project-card h4 {
  color: #94a3b8;
  margin-bottom: 18px;
  font-weight: normal;
}

.project-card ul {
  padding-left: 18px;
  text-align: left;
}

.project-card ul li {
  margin-bottom: 10px;
  color: #cbd5f5;
  line-height: 1.5;
}
